body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Fuente moderna y elegante */
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
  position: relative;
}

h1 {
  font-size: 3.5rem;
  font-family: 'Merriweather', serif; /* Fuente clásica pero legible */
  margin-bottom: 40px;
  text-shadow: 2px 2px 15px rgba(255, 215, 0, 0.8);
  color: #fdd835;
  text-align: center;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.time {
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 15px 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px 2px rgba(88, 166, 255, 0.6);
}

.time span {
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace; /* Fuente clara para números */
  font-weight: bold;
  color: #ffd700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.mensaje-anio-nuevo {
  font-size: 3.5rem;
  font-family: 'Great Vibes', cursive; /* Fuente estilizada y festiva */
  font-weight: bold;
  margin-top: 50px;
  background: linear-gradient(to right, #ffd700, #ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGlow 3s infinite alternate;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.final-countdown-container {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive; /* Fuente elegante y decorativa */
  color: #ffcc00;
  text-shadow: 2px 2px 8px rgba(255, 69, 0, 0.8), 2px 2px 10px rgba(34, 139, 34, 0.8);
  animation: pulse 1.5s infinite;
  margin-top: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textGlow {
  0% {
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.8);
  }
  100% {
    text-shadow: 4px 4px 25px rgba(255, 140, 0, 0.9);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
  
}

 @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}


.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: rgb(255, 0, 0);
  --color2: rgb(0, 17, 255);
  --color3: rgb(255, 145, 0);
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
  
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); 
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
   animation: fireworkPseudo 2s infinite; 
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); 
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  animation: fireworkPseudo 2s infinite; 
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 40%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: #FF0033; 
  --color2: #FF6600; 
  --color3: #FFFF00; 
  --color4: #00FF00; 
  --color5: #0000FF; 
  --color6: #9400D3;
  --finalSize: 35vmin;
  
  left: 90%;
  top: 60%;
  animation-delay: -0.4s;
}
.firework:nth-child(4),
.firework:nth-child(4)::before,
.firework:nth-child(4)::after {
  --color1: #00FF00; 
  --color2: #FFFF00; 
  --color3: #00BFFF; 
  --color4: #FF1493; 
  --color5: #FF6347; 
  --color6: #8A2BE2; 
  --finalSize: 35vmin;
  
  left: 20%;
  top: 60%;
  animation-delay: -0.4s;
}
.firework:nth-child(5),
.firework:nth-child(5)::before,
.firework:nth-child(5)::after {
  --color1: #00FF00; 
  --color2: #FFFF00; 
  --color3: #00BFFF; 
  --color4: #FF1493; 
  --color5: #FF6347; 
  --color6: #8A2BE2; 
  --finalSize: 35vmin;
  
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}
.radio-player {
  text-align: center;
  margin: 20px;
}

#play-radio {
  background-color: #FF0000; /* Rojo navideño */
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

#play-radio:hover {
  background-color: #008000; /* Verde navideño */
}
@media (max-width: 425px) {

 h1 {
    font-size: 1.3rem;
    margin-top: 150px;
    text-shadow: 2px 2px 10px #ff0000;
  }
  .time {
    font-size: 1.0rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 2px #58a6ff;
  }
  
  .time span {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700;
    background-size: 400%;
    -webkit-background-clip: text;
    animation: rainbow 5s infinite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .radio-player iframe {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 2560px) {


  h1 {
    font-size: 2.9rem;
    text-shadow: 2px 2px 10px #ff0000;
  }
  .time {
    font-size: 3.0rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 60px 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 2px #58a6ff;
  }
  
  .time span {
    font-size: 9rem;
    font-weight: bold;
    color: #FFD700;
    background-size: 400%;
    -webkit-background-clip: text;
    animation: rainbow 5s infinite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .radio-player iframe {
    width: 800px;
    height: 600px;
  }
  .final-countdown-container {
    font-size: 8rem;
    font-family: 'Dancing Script', cursive;
    color: #ffcc00;
    text-shadow: 2px 2px 8px rgba(255, 69, 0, 0.8), 2px 2px 10px rgba(34, 139, 34, 0.8);
    animation: pulse 1.5s infinite;
    margin-top: 30px;
  }

  .celebration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #celebration-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .mensaje-anio-nuevo {
    font-size: 6rem;
    font-family: 'Lemon Milk Pro', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    background: linear-gradient(to right, #ffd700, #ff4500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGlow 3s infinite alternate;
    text-align: center;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  }

  /* Animaciones */
  @keyframes gradientGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  @keyframes pulseGlow {
    0% {
      text-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
    }
    100% {
      text-shadow: 0px 0px 30px rgba(255, 215, 0, 1);
    }
  }

  @keyframes textGlow {
    0% {
      text-shadow: 0px 0px 10px rgba(255, 69, 0, 0.8);
    }
    100% {
      text-shadow: 0px 0px 30px rgba(255, 140, 0, 1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}


 

.celebration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#celebration-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.radio-button {
  font-family: 'Lemon Milk Pro', sans-serif; /* Fuente moderna y llamativa */
  background: linear-gradient(45deg, #ff6f61, #ffb74d); /* Gradiente suave de naranja y rojo */
  color: #fff; /* Texto blanco */
  border: 2px solid #fff; /* Borde blanco */
  padding: 15px 30px; /* Espaciado interno */
  font-size: 1.5rem; /* Tamaño de fuente adecuado */
  text-transform: uppercase; /* Texto en mayúsculas */
  cursor: pointer; /* Cambiar el cursor a mano cuando se pase por encima */
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para darle profundidad */
  transition: all 0.3s ease; /* Transición suave para efectos */
}

.radio-button:hover {
  background: linear-gradient(45deg, #ffb74d, #ff6f61); /* Invertir el gradiente al pasar el ratón */
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al pasar el ratón */
}

.radio-button:active {
  transform: scale(0.95); /* Reducir el tamaño del botón cuando se hace clic */
}

/* Diseño del iframe */
#radioIframe {
  margin-top: 20px; /* Separación del iframe respecto al botón */
}








  
